.portfolio {
    min-height: 500px;
    background: black;
}

.right-tab-heading {
    float: right;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    margin-right: unset;
}

.projects {
    padding-bottom: 30px;
}

.octagon {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    max-width: 300px;
    height: 320px;
    width: auto;
    display: inline-grid;
    background: #77FB00;
    margin: 25px;
}

.octagon:hover {
    background: gold;
    animation: rotation 500ms normal;
}

.octagon-inner {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background: #333;
    margin: 10px;
    padding:35px 20px;
    cursor: pointer;
}

.octagon-inner:hover {
    background: black;
}

.project-heading {
    padding: 0 15px;
}

@media only screen and (max-width: 768px) {

    .right-tab-heading {
        float: unset;
        margin-right: auto;
        -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
        clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
    }
}
